[blame]
	coloring = highlightRecent
[user]
	name = Tomohiro Ishiguro
	email = se.ishiguro.tomohiro@gmail.com
[credential]
	helper = store
	helper = store
[core]
	pager = LESSCHARSET=utf-8 less
	quotepath = false
